/* css file login.html */
* {
  box-sizing: border-box;
}

/* mengatur fomt yg dipakai dan background halaman */
body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  background: turquoise;
}

/* membuat container menjadi layout flexbook dan kotak login di tengah */
.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

/* membuat kotak form login lebar 480px dan background putih */
.login-box {
  margin-top: 150px;
  flex-basis: 480px;
  background: #fff;
  text-align: center;
  padding: 20px;
}

/* mengatur judul form dengan border bawah dan posisi di tengah */
.login-box h2 {
  border-bottom: 1px solid #ccc;
  color: #555;
  text-align: center;
  padding-bottom: 20px;
  margin: 0 0 20px;
}

/* mengatur agar tag input dan select memenuhi container dan tampilan lebih bagus*/
input,
select {
  width: 100%;
  padding: 15px 20px;
  margin: 8px 0;
  border: 1px solid #ccc;
}

/* mengatur tampilan tombol submit */
input[type="submit"] {
  background-color: turquoise;
  border: none;
  color: #fff;
  text-decoration: none;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: turquoise;
  color: #fff;
}

/* dashboard */
/* mengatur desain header */
header {
  background: turquoise;
  color: #fff;
  padding: 15px 20px;
  font-size: 20px;
}

/* Mengatur lebar menu 20% dengan backgroun hitam */
aside {
  flex: 20%;
  background: #222;
}

/* mengatur lebar konten utama 80% dengan background putih */
section.main {
  flex: 80%;
  background: #fff;
  min-height: 530px;
  padding: 15px 20px;
}

/* mengatur footer dengan backgroun abu" dan teks di tengah */
footer {
  background: #ccc;
  color: #555;
  padding: 20px;
  text-align: center;
}

/* mengatur layout pada layar kecil (responsive) */
@media (max-width: 700px) {
  .container {
    flex-direction: column;
  }
}

/* navigasi */
/* membuang padding tag<ul> */
.menu {
  padding: 0;
}

/* menambah border bawah tag li */
.menu li {
  border-bottom: 1px solid dotted #444;
}

/* mengatur desain menu yang dibuat dengan tag a */
.menu a {
  display: block;
  padding: 20px 20px;
  list-style: none;
  color: #fff;
  text-decoration: none;
}

/* mengganti background menu ketika ditunjuk mouse  */
.menu a:hover {
  background: #000;
}

/* tabel.html */
/* mengatur desain judul halaman dengan border di bawah */
.judul {
  color: #555;
  border-bottom: 1px solid #ccc;
  padding-bottom: 15px;
}

/* mengatur agar lebar tabel penuh dan antar boorder tidak memiliki jarak */
.table {
  width: 100%;
  margin-top: 20px;
  border-collapse: collapse;
}

/* menambah border dan padding pada sel tabel */
.table th,
.table td {
  border: 1px sp;
  display: #ccc;
  padding: 10px;
}

/* mangatur background baian juduln table */
.table th {
  background: #eee;
}

/* mengatur desain tombol yang dibuat dengan tag a */
.tombol {
  display: inline-block;
  max-width: 150px;
  padding: 15px 30px;
  color: #fff;
  text-decoration: none;
  background: turquoise;
  cursor: pointer;
}

/* desain tombol edit dan hapus agar lebih kecil */
.tombol.edit,
.tombol.hapus {
  padding: 10px 15px;
  font-size: 12px;
}
.tombol.tombol.hapus {
  background: #fc4c4c;
}

/* tambah dari saya agar teks di tengah */
.table tr {
  text-align: center;
}

/* css file form.html */
/* mengatur form-group agar tidak terpengaruh float */
.form-group {
  clear: both;
}

/* mengatur lebar label 30% dengan teks bold */
.form-group label {
  display: block;
  padding: 15px 0;
  float: left;
  width: 30%;
  font-weight: bold;
}

/* mengatur lebar .input 50% dan sejajar dengan label */
.form-group .input {
  display: block;
  width: 50%;
  float: left;
}

/* mengatur input radio, tombol submit dan tombol reset */
input[type="radio"] {
  width: 50px;
}
.tombol.simpan {
  background: turquoise;
}
.tombol.reset {
  background: #fb8307;
}

/* membuat tampilan form menumpuk pada layar kecil */
@media (max-width: 700px) {
  .form-group label,
  .form-group .input {
    width: 100%;
  }
}
